@page
@model CreateEventModel
@{
    ViewData["Title"] = "Cadastrar Evento";
}

<h1>Criando Novo Evento</h1>

<form method="post">
    <div>
        <label>Título:</label>
        <input asp-for="Evento.Título" />
    </div>
    <div>
        <label>Data:</label>
        <input asp-for="Evento.Data" type="datetime-local" />
    </div>
    <div>
        <label>Local:</label>
        <input asp-for="Evento.Local" />
    </div>
    <button type="submit">Cadastrar</button>
</form>
